body {
    margin: 0;
}

#play {
    background: url('home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

#play>button {
    margin-top: 22%;
    margin-left: 35%;
    opacity: 1;
    height: 150px;
    width: 360px;
    font-size: 80px;
    opacity: 0;
}